/* footer.css */
footer {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-content {
  padding: 50px 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
